@import "reset.css";

/* variables */
:root{
    --primary: #AA0601;
    --bg-light: #FBF2F2;
}

/* base */
*,*:before,*:after{
    box-sizing: border-box;
}

body{
    font-family: "Noto Sans TC", "Roboto";
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.5;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

/* common */
.d-flex{
    display: flex;
}

.bg-primary{
    background: var(--primary);
}

.color-w{
    color: white;
}

/* container */
.container{
    /* width: 1296px; 視窗縮小依然固定寬度，所以會出現 X 軸 */
    max-width: 1320px; /* 跟著視窗寬度做改變 */
    margin: 0 auto;

    /* 當視窗縮小時，內容也不會整個貼在視窗邊緣上 */
    padding: 0 12px;
    /* 因為使用 border-box 計算盒模型會壓縮到內容空間，所以上方寬度要補回去左右推出的 padding 值) */
    align-items: center;
    justify-content: space-between;
}

.container-sm-full {
    max-width: 1320px;
    padding: 0px 12px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px){
    .container{
        max-width: 100%;
    }
}

@media(max-width: 657px){
    .nav .container-sm-full{
        padding: 0px;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 576px){
    .container{
        max-width: 100%;
    }
}

/* nav */
.nav{
    padding: 16px 0;
}

.logo{
    width: 80px;
    height: 48px;
}

.nav .nav-list{
    font-size: 20px;
    gap: 64px;
}

@media(max-width: 657px){
    .nav{
        padding: 0px;
    }
    .logo{
        margin: 16px;
    }
    .nav .nav-list{
        width: 100%;
        flex-wrap: wrap;
        gap: 0px;
    }
    .nav .nav-item{
        width: 50%;
        text-align: center;
    }
    .nav .nav-item a{
        width: 100%;
        padding: 12px 0;
        border: solid 1px white;
    }
}

/* footer */
.footer-top{
    justify-content: space-between;
    padding-top: 48px;
}
.footer-nav .nav-list{
    padding-top: 12px;
    gap: 48px;
}
.contact-list{
    font-size: 36px;
    padding-bottom: 32px;
    padding-top: 36px;
}
.material-symbols-outlined {
    font-size: 48px;
    vertical-align: middle;
    margin-right: 16px;
}
.icon{
    gap: 32px
}
.icon img{
    width: 48px;
}

.copyright{
    border-top: 1px solid white;
    padding: 32px 0;
    justify-content: space-between;
}

.privacy{
    gap: 48px;
    font-size: 14px;
}

/* For tablet*/
@media (max-width: 768px){
    .contact-list
    {
        padding-top: 32px;
    }
    .icon{
        gap: 16px
    }
    .icon img{
        width: 40px;
    }
}

@media(max-width: 657px){
    .footer-top{
        padding-top: 24px;
    }
    .footer-nav{
        display: none;
    }
    .contact-list
    {
        padding-top: 0px;
    }
}

/* For mobile*/
@media (max-width: 576px){
    .contact-list{
        font-size: 16px;
        padding-bottom: 24px;
    }
    .material-symbols-outlined {
        font-size: 24px;
        margin-right: 8px;
    }
    .icon{
        gap: 8px
    }
    .icon img{
        width: 24px;
    }
    .copyright{
        font-size: 16px;
        flex-direction: column;
    }
    .privacy{
        padding-top: 8px;
        gap: 8px;
        font-size: 16px;
        flex-direction: column;
    }
}